services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: > 
      bash -c "mineru-api --host 0.0.0.0 --port 8000 & bash ../period_rm.sh -d ./output -i 60 -a 10"
