services:
  mineru:
    build:
      context: ./backend/mineru
      dockerfile: Dockerfile
    ports:
      - "8848:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    command: >
      bash -c "mineru-api --host 0.0.0.0 --port 8000 & bash ../period_rm.sh -d ./output -i 60 -a 10"
  postgres:
    image: pgvector/pgvector:pg18-trixie
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
